@font-face {
  font-family: MemphisRiver;
  src: url(../font/MemphisRiver-eZ43n.ttf);
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.body{
  background-color: whitesmoke;
}
.nav-item {
  font-size: 18px;
  font-weight: bold;
}
.navbar-brand {
  font-family: MemphisRiver;
  font-size: 40px;
  font-weight: bold;
}
.logo-img {
  margin-top: -4px;
}
.c-item {
  height: 480px;
}
.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
.carousel-caption {
  margin-top: 100px;
}
@media only screen and (min-width: 992px) {
  .c-item {
    height: 800px;
  }
  .carousel-caption {
    margin-top: 250px;
  }
}
.featured-heading {
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-img {
  height: 350px;
  width: 350px;
  object-fit: cover;
}
.accordion-button:focus,
.accordion-button:active,
.accordion-header:focus,
.accordion-header:active {
  background-color: #ffc1cc;
  color: black;
}
.accordion-button:not(.collapsed) {
  background-color: #ffc1cc;
  color: black;
}
.cart-img {
  height: 50px;
  width: 50px;
}
.table th {
  font-size: 14px;
}
#target {
  font-size: 14px;
}
#cell {
  padding-top: 20px;
  font-size: 13px;
}
@media only screen and (min-width: 768px) {
  .cart-img {
    height: 75px;
    width: 75px;
  }
  .table th {
    font-size: 16px;
  }
  #target {
    font-size: 15px;
  }
  #cell {
    padding-top: 35px;
    font-size: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .cart-img {
    height: 110px;
    width: 110px;
  }
  .table th {
    font-size: 20px;
  }
  #target {
    font-size: 19px;
  }
  #cell {
    padding-top: 50px;
    font-size: 18px;
  }
}
.card{
transition: all 0.3s;
}
.card:hover{
  transform: scale(1.15);
}
.card-size{
  height: 300px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffc1cc;
  z-index: 9999;
}
